@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    min-width: 320px;

    font-family:
      "Plus Jakarta Sans",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      sans-serif;

    background: #030712;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html {
  scroll-behavior: smooth;

  /* Firefox */
  scrollbar-width: none;

  /* IE / Edge */
  -ms-overflow-style: none;
}

/* Chrome, Brave, Safari, Edge */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}